html {
	scroll-behavior: smooth;
}
body{
    background-image:url(black-coffee-cup-and-black-notepad-on-black-table-3815759.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.title{
    color:white;
    
}

.titler{
    color:black;
    background-color: red;
    font-weight: 700;
}
.nav-bar.hide{
    transform: translateY(-100%);
}
.nv li a{
    color:white !important;
}
.nv :active,.nv :hover{
    background-color: red;
}
nav{
    background: rgba(0, 0, 0, 0.6);
}
#langingpage{
    margin-top: 20%;
}

#landingpage-row1{
   text-align: right;
}

#landingpage-row2{
    text-align: left;
}

#messages{
    width: 100%;
    background: transparent;
}
.cont{
    background: transparent !important;
}
.contb{
    background: red !important;
}

.social{
    color:blue; 
    font-size: 2em;
    letter-spacing: 1em;
}
.social :hover{
    font-size: 2.01em;
}
.foot a{
    color:red;
}